.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh
}

.title{
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
}

.topic{
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(223, 108, 255);
    color: white;
}
.topic-selected{
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(161, 46, 238);
    color: white;
}

.type{
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(99, 197, 250);
    color: white;
}
.type-selected{
    margin: 10px;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgb(51, 166, 248);
    color: white;
}

.action{
    margin-top: 30px;
    padding: 10px 18px;
    border-radius: 14px;
    background-color: rgb(228, 13, 247);
    color: white;
    font-size: 18px;
    transition: 0.5s;
}
.action:hover{
    background-color: rgb(236, 95, 249);
}
.action:disabled, .action:disabled:hover{
    margin-top: 30px;
    padding: 10px 18px;
    border-radius: 14px;
    background-color: rgb(234, 212, 248);
    cursor: not-allowed;
    color: white;
    font-size: 18px;
    // display: none;
}



.option-title{
    font-size: 20px;
    margin: 10px
}


@media screen and (max-width: 700px) {
    .title{
        font-size: 30px;
        text-align: center
    }
}